In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
iort matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#load the training data
train_values = pd.read_csv('training_set_values.csv')

In [3]:
#load the training set labels
train_labels = pd.read_csv('training_set_labels.csv')

In [4]:
#combine training and the labels for it
combined = train_values.merge(train_labels, on='id')

In [5]:
#check it worked
combined.head(5)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [6]:
#start to remove columns that don't help
#recorded_by has no unique values

In [7]:
#check it worked
len(list(combined))

41

In [8]:
combined['recorded_by'].unique()

array(['GeoData Consultants Ltd'], dtype=object)

In [9]:
combined.drop('recorded_by', axis=1, inplace=True)

In [11]:
#look at categorical predictors that show similar information
#start with extraction_type, extraction_type_group, and extraction_type_class

d = combined
d.groupby(['extraction_type', 'extraction_type_group', 'extraction_type_class']).size()

extraction_type            extraction_type_group  extraction_type_class
afridev                    afridev                handpump                  1770
cemo                       other motorpump        motorpump                   90
climax                     other motorpump        motorpump                   32
gravity                    gravity                gravity                  26780
india mark ii              india mark ii          handpump                  2400
india mark iii             india mark iii         handpump                    98
ksb                        submersible            submersible               1415
mono                       mono                   motorpump                 2865
nira/tanira                nira/tanira            handpump                  8154
other                      other                  other                     6430
other - mkulima/shinyanga  other handpump         handpump                     2
other - play pump          other handpump         handpump                    85
other - rope pump          rope pump              rope pump                  451
other - swn 81             other handpump         handpump                   229
submersible                submersible            submersible               4764
swn 80                     swn 80                 handpump                  3670
walimi                     other handpump         handpump                    48
windmill                   wind-powered           wind-powered               117
dtype: int64

In [12]:
# Group low occuring counts together or into related groups
# ignore warnings
combined['extraction_type'][combined.extraction_type.isin(['india mark ii','india mark iii'])] = 'india mark'
combined['extraction_type_class'][combined.extraction_type_class.isin(['india mark ii','india mark iii'])] = 'india mark'
combined['extraction_type'][combined.extraction_type.isin(['cemo', 'climax'])] = 'motorpump'
combined['extraction_type_class'][combined.extraction_type_class.isin(['cemo', 'climax'])] = 'motorpump'
combined['extraction_type'][combined.extraction_type.isin(['other - mkulima/shinyanga','other - play pump', 'walimi'])] = 'handpump'
combined['extraction_type_class'][combined.extraction_type_class.isin(['other - mkulima/shinyanga','other - play pump', 'walimi'])] = 'handpump'
combined['extraction_type'][combined.extraction_type.isin(['other - swn 81','swn 80'])] = 'swn'
combined['extraction_type_class'][combined.extraction_type_class.isin(['other - swn 81','swn 80'])] = 'swn'

C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\julia.dills\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
#check it worked
d = combined
d.groupby(['extraction_type', 'extraction_type_group', 'extraction_type_class']).size()

extraction_type    extraction_type_group  extraction_type_class
afridev            afridev                handpump                  1770
gravity            gravity                gravity                  26780
handpump           other handpump         handpump                   135
india mark         india mark ii          handpump                  2400
                   india mark iii         handpump                    98
ksb                submersible            submersible               1415
mono               mono                   motorpump                 2865
motorpump          other motorpump        motorpump                  122
nira/tanira        nira/tanira            handpump                  8154
other              other                  other                     6430
other - rope pump  rope pump              rope pump                  451
submersible        submersible            submersible               4764
swn                other handpump         handpump                   229
                   swn 80                 handpump                  3670
windmill           wind-powered           wind-powered               117
dtype: int64

In [14]:
#remove extraction_type_group
combined.drop('extraction_type_group', axis=1, inplace=True)

In [16]:
d = combined
d.groupby(['management', 'management_group']).size()

management        management_group
company           commercial            685
other             other                 844
other - school    other                  99
parastatal        parastatal           1768
private operator  commercial           1971
trust             commercial             78
unknown           unknown               561
vwc               user-group          40507
water authority   commercial            904
water board       user-group           2933
wua               user-group           2535
wug               user-group           6515
dtype: int64

In [17]:
#keep these both

In [18]:
d = combined
d.groupby(['scheme_management', 'scheme_name']).size()

scheme_management  scheme_name
Company            BFFS                              1
                   Bagamoyo Wate                    60
                   Bagamoyo wate                   210
                   Borehole                          1
                   Borehole drilling project         1
                   Bulamba piped scheme              2
                   Burieni water supply              1
                   Doe water supply                  3
                   EKTM 2 water  supply              1
                   EKTM 2 water suply               25
                   EKTM 2 water supply               9
                   EKTM 3 water supply              51
                   Fufulamsuri water supply          1
                   GRUMETI                           6
                   HESAWA                            1
                   Hakwe water supply               10
                   Holili water supply              23
                   I                                 1
                   IKTM 2                            1
                   IKTM 2 water supply               1
                   IKTM 3 water supply               1
                   Ibukoni kimanga water supply      1
                   Iburieni water supply             6
                   Ihum                              1
                   Ikela Wa                         89
                   It                                1
                   Kamdawi water supply              8
                   Kandika water supply              4
                   Kaseni water supply               1
                   Kastamu water supply              8
                                                  ...
Water authority    Shirimatunda Water Supply        16
                   Shirimatunda water Supply        58
                   Shirimatunda water supply         1
                   Singino                           1
                   Sinyanga water supplied sch       4
                   Submersible                       1
                   Sui                               1
                   Suwasa water supply               8
                   TWESA                             1
                   Tank fu Mwenge                    1
                   Tank fupi Mwenge                  8
                   Tank refu Kasokola                4
                   Tank refu Mtakuja                 6
                   Tank refu Sitalike                7
                   Tungu water piped scheme          1
                   Tutu                             25
                   UWAMAMA                           4
                   Urambo water supply              15
                   Vumari water supply              11
                   Vunta water supply               11
                   WD                                1
                   Water from DAWASCO               28
                   World Bank                       60
                   World Vision                      8
                   World vision                      1
                   Yongoma                          16
                   Zepalama                          5
                   no scheme                         9
                   pump                              2
                   water supply at Kalebejo          1
dtype: int64

In [19]:
#remove scheme_name
combined.drop('scheme_name', axis=1, inplace=True)

In [21]:
d = combined
d.groupby(['payment', 'payment_type']).size()

payment                payment_type
never pay              never pay       25348
other                  other            1054
pay annually           annually         3642
pay monthly            monthly          8300
pay per bucket         per bucket       8985
pay when scheme fails  on failure       3914
unknown                unknown          8157
dtype: int64

In [22]:
# these look the same so we can drop payment
combined.drop('payment', axis=1, inplace=True)

In [24]:
d = combined
d.groupby(['water_quality', 'quality_group']).size()

water_quality       quality_group
coloured            colored            490
fluoride            fluoride           200
fluoride abandoned  fluoride            17
milky               milky              804
salty               salty             4856
salty abandoned     salty              339
soft                good             50818
unknown             unknown           1876
dtype: int64

In [25]:
#these look the same as well 
#keep the one with more description
combined.drop('quality_group', axis=1, inplace=True)

In [27]:
d = combined
d.groupby(['quantity', 'quantity_group']).size()

quantity      quantity_group
dry           dry                6246
enough        enough            33186
insufficient  insufficient      15129
seasonal      seasonal           4050
unknown       unknown             789
dtype: int64

In [28]:
#these look the same as well 
#keep quantity
combined.drop('quantity_group', axis=1, inplace=True)

In [30]:
d = combined
d.groupby(['source', 'source_type', 'source_class']).size()

source                source_type           source_class
dam                   dam                   surface           656
hand dtw              borehole              groundwater       874
lake                  river/lake            surface           765
machine dbh           borehole              groundwater     11075
other                 other                 unknown           212
rainwater harvesting  rainwater harvesting  surface          2295
river                 river/lake            surface          9612
shallow well          shallow well          groundwater     16824
spring                spring                groundwater     17021
unknown               other                 unknown            66
dtype: int64

In [31]:
#remove source_type
combined.drop('source_type', axis=1, inplace=True)

In [33]:
#should we drop other and unknown??

In [34]:
d = combined
d.groupby(['waterpoint_type', 'waterpoint_type_group']).size()

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              116
communal standpipe           communal standpipe       28522
communal standpipe multiple  communal standpipe        6103
dam                          dam                          7
hand pump                    hand pump                17488
improved spring              improved spring            784
other                        other                     6380
dtype: int64

In [35]:
#drop one
combined.drop('waterpoint_type_group', axis=1, inplace=True)

In [37]:
#keep going with geographic info

In [38]:
d = combined
d.groupby(['region', 'region_code', 'district_code']).size()

region         region_code  district_code
Arusha         2            1                 189
                            2                1206
                            3                 109
                            5                 201
                            6                 310
                            7                1009
               24           30                326
Dar es Salaam  7            1                  93
                            2                 497
                            3                 215
Dodoma         1            0                  23
                            1                 888
                            3                 361
                            4                 347
                            5                 358
                            6                 224
Iringa         11           1                 728
                            2                 530
                            3                 650
                            4                2473
                            5                 564
                            7                 349
Kagera         18           1                 771
                            2                 487
                            3                 402
                            4                 403
                            6                  88
                            7                 260
                            8                 236
                            30                669
                                             ...
Shinyanga      11           3                   3
                            4                   3
               14           4                  20
               17           1                1196
                            2                 802
                            3                1401
                            5                 514
                            6                 453
                            7                 191
                            8                 387
                            80                 12
Singida        13           1                 544
                            2                 995
                            3                 377
                            4                 177
Tabora         14           1                 574
                            2                 339
                            3                 337
                            4                 382
                            5                 170
                            6                 157
Tanga          4            1                 698
                            2                 408
                            3                 323
                            4                 110
                            5                 293
                            6                 266
                            7                 127
                            8                 288
               5            1                  34
dtype: int64

In [39]:
d = combined
d.groupby(['region', 'district_code', 'latitude', 'longitude']).size()

region  district_code  latitude   longitude
Arusha  1              -3.766608  36.421219    1
                       -3.761918  36.436922    1
                       -3.761799  36.309273    1
                       -3.761723  36.309234    1
                       -3.761542  36.437071    1
                       -3.761492  36.437088    1
                       -3.761356  36.419235    1
                       -3.759929  36.419623    1
                       -3.685069  36.052036    1
                       -3.677827  36.604515    1
                       -3.677659  36.604690    1
                       -3.672770  36.054653    1
                       -3.672369  36.077617    1
                       -3.671986  36.051395    1
                       -3.669887  36.009399    1
                       -3.664992  35.963455    1
                       -3.663249  35.980449    1
                       -3.658037  36.051271    1
                       -3.640906  36.014173    1
                       -3.635473  36.045650    1
                       -3.633633  35.920888    1
                       -3.633579  35.920867    1
                       -3.633372  36.591606    1
                       -3.632621  36.011253    1
                       -3.632507  35.918096    1
                       -3.630925  35.919525    1
                       -3.630701  35.920103    1
                       -3.600306  36.089394    1
                       -3.568868  36.097751    1
                       -3.558865  36.101732    1
                                              ..
Tanga   8              -4.752784  38.782501    1
                       -4.751313  38.768891    1
                       -4.740189  38.950129    1
                       -4.739863  38.949566    1
                       -4.736008  39.068352    1
                       -4.728002  39.156774    1
                       -4.717472  39.122380    1
                       -4.708331  39.118495    1
                       -4.708204  39.092397    1
                       -4.698964  39.108541    1
                       -4.696906  39.112923    1
                       -4.688318  39.108521    1
                       -4.686080  39.107078    1
                       -4.682711  39.104994    1
                       -4.682042  39.104781    1
                       -4.681377  39.104462    1
                       -4.679555  39.103707    1
                       -4.679080  39.100790    1
                       -4.679010  39.100788    1
                       -4.678788  39.101786    1
                       -4.678148  39.103531    1
                       -4.678062  39.102406    1
                       -4.677982  39.102083    1
                       -4.677380  39.104796    1
                       -4.674550  39.102532    1
                       -4.671673  39.112545    1
                       -4.671500  39.113018    1
                       -4.607945  39.094547    1
                       -4.606536  39.100759    1
                       -4.601891  39.102707    1
dtype: int64

In [40]:
# Compute average longitude and latitude in districts within region to subsitute for zero values found
# i might do this later - might not be valid/useful

In [41]:
d = combined
d.groupby(['region', 'district_code']).describe()
#df['preTestScore'].groupby(df['company']).describe()

                              amount_tsh  construction_year   gps_height  \
region district_code
Arusha 1             count    189.000000         189.000000   189.000000
                     mean       3.439153        1968.095238  1155.328042
                     std       12.687854         250.670529   241.189337
                     min        0.000000           0.000000   814.000000
                     25%        0.000000        2000.000000   976.000000
                     50%        0.000000        2000.000000  1055.000000
                     75%        0.000000        2000.000000  1304.000000
                     max       50.000000        2010.000000  1991.000000
       2             count   1206.000000        1206.000000  1206.000000
                     mean     694.361526        1972.573798  1435.470149
                     std     3451.079819         214.192687   305.058904
                     min        0.000000           0.000000   594.000000
                     25%        0.000000        1990.000000  1087.250000
                     50%        0.000000        2000.000000  1493.000000
                     75%       20.000000        2003.000000  1654.750000
                     max    20000.000000        2012.000000  2173.000000
       3             count    109.000000         109.000000   109.000000
                     mean      10.688073        2000.825688  1316.422018
                     std       21.251012           2.765006    70.815265
                     min        0.000000        2000.000000  1196.000000
                     25%        0.000000        2000.000000  1250.000000
                     50%        0.000000        2000.000000  1325.000000
                     75%       20.000000        2000.000000  1366.000000
                     max      100.000000        2010.000000  1433.000000
       5             count    201.000000         201.000000   201.000000
                     mean       2.437811        1970.706468  1740.268657
                     std       10.125580         243.517512   518.073458
                     min        0.000000           0.000000   612.000000
                     25%        0.000000        1996.000000  1278.000000
                     50%        0.000000        2005.000000  1851.000000
...                                  ...                ...          ...
Tanga  5             std      179.832382         825.028255    39.677798
                     min        0.000000           0.000000   -39.000000
                     25%        0.000000        1966.000000   -15.000000
                     50%        0.000000        1980.000000     8.000000
                     75%       20.000000        2008.000000    53.000000
                     max     1500.000000        2011.000000   142.000000
       6             count    266.000000         266.000000   266.000000
                     mean      28.345865        1921.477444   412.086466
                     std       19.893317         380.701390   151.533109
                     min        0.000000           0.000000    75.000000
                     25%       10.000000        1980.000000   323.500000
                     50%       30.000000        2003.000000   375.500000
                     75%       50.000000        2007.000000   512.000000
                     max      100.000000        2011.000000   751.000000
       7             count    127.000000         127.000000   127.000000
                     mean     216.299213        1979.590551     0.000000
                     std      566.317544         177.508075     0.000000
                     min        0.000000           0.000000     0.000000
                     25%        0.000000        1987.000000     0.000000
                     50%        0.000000        1994.000000     0.000000
                     75%       20.000000        2008.000000     0.000000
                     max     3000.000000        2011.000000     0.000000
       8             count    288.000000         288.000000   288.000000
                     mean     217.951389        1959.243056     0.000000
                     std      410.477080         261.313254     0.000000
                     min        0.000000           0.000000     0.000000
                     25%        0.000000        1980.000000     0.000000
                     50%        0.000000        2001.000000     0.000000
                     75%       20.000000        2007.000000     0.000000
                     max     1000.000000        2011.000000     0.000000

                                      id     latitude    longitude  \
region district_code
Arusha 1             count    189.000000   189.000000   189.000000
                     mean   36509.201058    -3.411445    36.120860
                     std    21964.371246     0.167068     0.239330
                     min      319.000000    -3.766608    35.841139
                     25%    19993.000000    -3.538509    35.902902
                     50%    34653.000000    -3.390573    36.056328
                     75%    55198.000000    -3.336077    36.353249
                     max    72899.000000    -2.992805    36.604690
       2             count   1206.000000  1206.000000  1206.000000
                     mean   37233.043947    -3.357749    36.699050
                     std    20948.220794     0.105920     0.081972
                     min       17.000000    -3.614214    36.471631
                     25%    19698.500000    -3.450363    36.645927
                     50%    37292.500000    -3.339797    36.687389
                     75%    54634.000000    -3.300026    36.758350
                     max    74217.000000    -3.079985    36.862824
       3             count    109.000000   109.000000   109.000000
                     mean   36541.752294    -3.405114    36.702298
                     std    20427.371595     0.037312     0.028471
                     min      171.000000    -3.493954    36.641703
                     25%    19515.000000    -3.433625    36.680450
                     50%    38355.000000    -3.392523    36.703904
                     75%    52572.000000    -3.373070    36.721532
                     max    73067.000000    -3.357123    36.755860
       5             count    201.000000   201.000000   201.000000
                     mean   37163.980100    -2.546836    35.567240
                     std    22091.754854     0.484118     0.190421
                     min      159.000000    -3.377579    34.986908
                     25%    17081.000000    -3.027670    35.441449
                     50%    36559.000000    -2.488391    35.578295
...                                  ...          ...          ...
Tanga  5             std    21930.572661     0.156538     0.095709
                     min       11.000000    -5.960198    38.662772
                     25%    16349.000000    -5.613441    38.876436
                     50%    34692.000000    -5.441009    38.946685
                     75%    54225.000000    -5.416573    38.974135
                     max    74207.000000    -5.270952    39.020211
       6             count    266.000000   266.000000   266.000000
                     mean   38002.969925    -5.530458    38.344462
                     std    21230.372790     0.172100     0.191700
                     min       44.000000    -5.978505    37.978724
                     25%    20578.750000    -5.608178    38.186273
                     50%    40089.500000    -5.524744    38.389105
                     75%    56795.250000    -5.401047    38.510820
                     max    74238.000000    -5.201281    38.661352
       7             count    127.000000   127.000000   127.000000
                     mean   38449.196850    -5.523504    37.522024
                     std    20689.420531     0.213602     0.197813
                     min      705.000000    -5.991881    37.125294
                     25%    22914.500000    -5.663198    37.386080
                     50%    39546.000000    -5.434814    37.519242
                     75%    54299.000000    -5.390946    37.629282
                     max    73920.000000    -5.050176    37.939358
       8             count    288.000000   288.000000   288.000000
                     mean   37566.527778    -4.824821    38.908933
                     std    21002.058892     0.074031     0.149170
                     min      395.000000    -4.992223    38.754893
                     25%    19298.000000    -4.867914    38.800438
                     50%    37337.000000    -4.828521    38.817066
                     75%    55140.750000    -4.770705    39.100788
                     max    73901.000000    -4.601891    39.172881

                            num_private   population  region_code
region district_code
Arusha 1             count   189.000000   189.000000        189.0
                     mean      0.000000     1.000000          2.0
                     std       0.000000     0.000000          0.0
                     min       0.000000     1.000000          2.0
                     25%       0.000000     1.000000          2.0
                     50%       0.000000     1.000000          2.0
                     75%       0.000000     1.000000          2.0
                     max       0.000000     1.000000          2.0
       2             count  1206.000000  1206.000000       1206.0
                     mean      0.017413   180.599502          2.0
                     std       0.348838    82.617398          0.0
                     min       0.000000     1.000000          2.0
                     25%       0.000000   150.000000          2.0
                     50%       0.000000   150.000000          2.0
                     75%       0.000000   200.000000          2.0
                     max       7.000000  2000.000000          2.0
       3             count   109.000000   109.000000        109.0
                     mean      0.018349   834.422018          2.0
                     std       0.191565  1377.634636          0.0
                     min       0.000000     0.000000          2.0
                     25%       0.000000     1.000000          2.0
                     50%       0.000000   600.000000          2.0
                     75%       0.000000   960.000000          2.0
                     max       2.000000  9500.000000          2.0
       5             count   201.000000   201.000000        201.0
                     mean      0.009950   239.064677          2.0
                     std       0.141069   181.028398          0.0
                     min       0.000000     1.000000          2.0
                     25%       0.000000   135.000000          2.0
                     50%       0.000000   200.000000          2.0
...                                 ...          ...          ...
Tanga  5             std      26.904825   612.967349          0.0
                     min       0.000000     1.000000          4.0
                     25%       0.000000    50.000000          4.0
                     50%       0.000000   100.000000          4.0
                     75%       0.000000   250.000000          4.0
                     max     150.000000  6000.000000          4.0
       6             count   266.000000   266.000000        266.0
                     mean     12.236842   424.733083          4.0
                     std      17.628459   706.037355          0.0
                     min       0.000000     1.000000          4.0
                     25%       0.000000    92.500000          4.0
                     50%       5.000000   200.000000          4.0
                     75%      20.000000   400.000000          4.0
                     max     180.000000  6000.000000          4.0
       7             count   127.000000   127.000000        127.0
                     mean      0.055118   449.047244          4.0
                     std       0.229114   980.376360          0.0
                     min       0.000000     1.000000          4.0
                     25%       0.000000     1.000000          4.0
                     50%       0.000000     1.000000          4.0
                     75%       0.000000   475.000000          4.0
                     max       1.000000  6854.000000          4.0
       8             count   288.000000   288.000000        288.0
                     mean      4.871528   240.034722          4.0
                     std      11.674184   678.995722          0.0
                     min       0.000000     1.000000          4.0
                     25%       0.000000    28.750000          4.0
                     50%       0.000000    50.000000          4.0
                     75%       0.000000   300.000000          4.0
                     max      60.000000  8000.000000          4.0

[1056 rows x 9 columns]

In [42]:
d = combined
#d.groupby(['region', 'district_code']).describe()
d.groupby(['district_code','latitude']).mean()

                               id  amount_tsh  gps_height  longitude  \
district_code latitude
0             -6.576480   13230.0         0.0         0.0  36.526483
              -6.576130   20639.0         0.0         0.0  36.526390
              -6.540024    4892.0         0.0         0.0  36.554161
              -6.537607   65229.0         0.0         0.0  36.556195
              -6.528279    2457.0         0.0         0.0  36.554454
              -6.452734   42743.0         0.0         0.0  36.631821
              -6.452332   61381.0         0.0         0.0  36.629565
              -6.451078   66073.0         0.0         0.0  36.641140
              -6.448997   53128.0         0.0         0.0  36.711461
              -6.448534   11576.0         0.0         0.0  36.709400
              -6.446915   16535.0         0.0         0.0  36.707664
              -6.446351   14678.0         0.0         0.0  36.707064
              -6.443480    8133.0         0.0         0.0  36.722461
              -6.442074   68455.0         0.0         0.0  36.704013
              -6.438650   50855.0         0.0         0.0  36.720556
              -6.437573   28718.0         0.0         0.0  36.700683
              -6.436342   51195.0         0.0         0.0  36.723809
              -6.435453   41830.0         0.0         0.0  36.712508
              -6.429516   30603.0         0.0         0.0  36.734350
              -6.422646   24185.0         0.0         0.0  36.700402
              -6.417726   22976.0         0.0         0.0  36.663800
              -6.414765    8660.0         0.0         0.0  36.680731
              -6.410970   12416.0         0.0         0.0  36.666734
1             -11.649440  20163.0      3000.0       330.0  37.351138
              -11.648378  42800.0      3000.0       327.0  37.351869
              -11.586297  57360.0         0.0       439.0  37.082702
              -11.521312  43108.0         0.0       426.0  37.242288
              -11.514937  48924.0         0.0       327.0  37.369605
              -11.513886  70927.0         0.0       336.0  37.366089
              -11.513231  42387.0         0.0       337.0  37.368038
...                           ...         ...         ...        ...
63            -7.814986   37710.0         0.0       -16.0  39.814419
              -7.813973    3581.0         0.0       -22.0  39.827327
              -7.811877   44172.0         0.0       -30.0  39.806648
              -7.800661   35708.0         0.0       -29.0  39.821885
              -7.800482   30729.0         0.0       -32.0  39.821660
              -7.787924   36170.0         0.0        -8.0  39.860017
              -7.786971   59868.0         0.0        -2.0  39.860960
              -7.783063    2136.0         0.0       -16.0  39.854320
              -7.782557   11718.0         0.0       -27.0  39.848522
              -7.775643   41536.0         0.0       -40.0  39.842278
              -7.775372   17653.0         0.0       -31.0  39.842987
              -7.766395   44655.0         0.0       -13.0  39.873861
67            -7.976036   53830.0         0.0       -14.0  39.739573
              -7.973064    6032.0        20.0       -32.0  39.737884
              -7.970700   44954.0        20.0       -27.0  39.740866
              -7.970234   19987.0         0.0       -25.0  39.740798
              -7.969308   43054.0         0.0       -30.0  39.740280
              -7.968567   62904.0        30.0       -24.0  39.741519
80            -3.969176   38236.0         0.0         0.0  34.006561
              -3.960595   18435.0         0.0         0.0  34.008816
              -3.956308    2510.0         0.0         0.0  34.014346
              -3.955814   16336.0         0.0         0.0  34.021617
              -3.955051   52590.0         0.0         0.0  34.111873
              -3.954908   63060.0         0.0         0.0  34.009985
              -3.952260   19608.0         0.0         0.0  34.007546
              -3.951671   39959.0         0.0         0.0  34.102593
              -3.948881   39661.0         0.0         0.0  34.021705
              -3.948488   71337.0         0.0         0.0  34.097803
              -3.946261   38036.0         0.0         0.0  34.096322
              -3.904369   21180.0         0.0         0.0  34.019720

                          num_private  region_code  population  \
district_code latitude
0             -6.576480           0.0          1.0         0.0
              -6.576130           0.0          1.0         0.0
              -6.540024           0.0          1.0         0.0
              -6.537607           0.0          1.0         0.0
              -6.528279           0.0          1.0         0.0
              -6.452734           0.0          1.0         0.0
              -6.452332           0.0          1.0         0.0
              -6.451078           0.0          1.0         0.0
              -6.448997           0.0          1.0         0.0
              -6.448534           0.0          1.0         0.0
              -6.446915           0.0          1.0         0.0
              -6.446351           0.0          1.0         0.0
              -6.443480           0.0          1.0         0.0
              -6.442074           0.0          1.0         0.0
              -6.438650           0.0          1.0         0.0
              -6.437573           0.0          1.0         0.0
              -6.436342           0.0          1.0         0.0
              -6.435453           0.0          1.0         0.0
              -6.429516           0.0          1.0         0.0
              -6.422646           0.0          1.0         0.0
              -6.417726           0.0          1.0         0.0
              -6.414765           0.0          1.0         0.0
              -6.410970           0.0          1.0         0.0
1             -11.649440          0.0         10.0         1.0
              -11.648378          0.0         10.0         1.0
              -11.586297          0.0         10.0         1.0
              -11.521312          0.0         10.0         1.0
              -11.514937          0.0         10.0         1.0
              -11.513886          0.0         10.0         1.0
              -11.513231          0.0         10.0         1.0
...                               ...          ...         ...
63            -7.814986           0.0         60.0       300.0
              -7.813973           0.0         60.0        60.0
              -7.811877           0.0         60.0       500.0
              -7.800661           0.0         60.0       100.0
              -7.800482           0.0         60.0       100.0
              -7.787924           0.0         60.0       350.0
              -7.786971           0.0         60.0       350.0
              -7.783063           0.0         60.0       230.0
              -7.782557           0.0         60.0       400.0
              -7.775643           0.0         60.0       220.0
              -7.775372           0.0         60.0         1.0
              -7.766395           0.0         60.0       200.0
67            -7.976036           0.0         60.0        27.0
              -7.973064           0.0         60.0         4.0
              -7.970700           0.0         60.0       300.0
              -7.970234           0.0         60.0       300.0
              -7.969308           0.0         60.0         1.0
              -7.968567           0.0         60.0         1.0
80            -3.969176           0.0         17.0         0.0
              -3.960595           0.0         17.0         0.0
              -3.956308           0.0         17.0         0.0
              -3.955814           0.0         17.0         0.0
              -3.955051           0.0         17.0         0.0
              -3.954908           0.0         17.0         0.0
              -3.952260           0.0         17.0         0.0
              -3.951671           0.0         17.0         0.0
              -3.948881           0.0         17.0         0.0
              -3.948488           0.0         17.0         0.0
              -3.946261           0.0         17.0         0.0
              -3.904369           0.0         17.0         0.0

                          construction_year
district_code latitude
0             -6.576480                 0.0
              -6.576130                 0.0
              -6.540024                 0.0
              -6.537607                 0.0
              -6.528279                 0.0
              -6.452734                 0.0
              -6.452332                 0.0
              -6.451078                 0.0
              -6.448997                 0.0
              -6.448534                 0.0
              -6.446915                 0.0
              -6.446351                 0.0
              -6.443480                 0.0
              -6.442074                 0.0
              -6.438650                 0.0
              -6.437573                 0.0
              -6.436342                 0.0
              -6.435453                 0.0
              -6.429516                 0.0
              -6.422646                 0.0
              -6.417726                 0.0
              -6.414765                 0.0
              -6.410970                 0.0
1             -11.649440             1994.0
              -11.648378             1994.0
              -11.586297             2010.0
              -11.521312             1994.0
              -11.514937             1987.0
              -11.513886             1988.0
              -11.513231             1988.0
...                                     ...
63            -7.814986                 0.0
              -7.813973                 0.0
              -7.811877                 0.0
              -7.800661                 0.0
              -7.800482                 0.0
              -7.787924                 0.0
              -7.786971                 0.0
              -7.783063                 0.0
              -7.782557                 0.0
              -7.775643                 0.0
              -7.775372                 0.0
              -7.766395                 0.0
67            -7.976036                 0.0
              -7.973064                 0.0
              -7.970700                 0.0
              -7.970234                 0.0
              -7.969308                 0.0
              -7.968567                 0.0
80            -3.969176                 0.0
              -3.960595                 0.0
              -3.956308                 0.0
              -3.955814                 0.0
              -3.955051                 0.0
              -3.954908                 0.0
              -3.952260                 0.0
              -3.951671                 0.0
              -3.948881                 0.0
              -3.948488                 0.0
              -3.946261                 0.0
              -3.904369                 0.0

[57522 rows x 8 columns]

In [49]:
#use lga column to create new feature: rural, urban, other
def get_setting(x):
    x=str(x)
    if x.find('Rural') >= 0: return 'rural'
    if x.find('Urban') >= 0: return 'urban'
    return 'other'

In [53]:
combined['rural_urban'] = combined.lga.apply(get_setting)

In [55]:
combined['rural_urban'].value_counts()

other    48165
rural     9552
urban     1683
Name: rural_urban, dtype: int64

In [56]:
print(type(combined.date_recorded))
print(type(combined.construction_year))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [57]:
#use date time function in pandas
combined['date_recorded'] = pd.to_datetime(combined['date_recorded'])
combined['construction_year'] = combined.construction_year.map(lambda x: np.nan if x == 0 else x)

In [58]:
combined['operation_year'] = combined.date_recorded.dt.year - combined.construction_year

In [59]:
#print(type(combined.date_recorded))
combined[['operation_year', 'date_recorded', 'construction_year']].head(10)

   operation_year date_recorded  construction_year
0            12.0    2011-03-14             1999.0
1             3.0    2013-03-06             2010.0
2             4.0    2013-02-25             2009.0
3            27.0    2013-01-28             1986.0
4             NaN    2011-07-13                NaN
5             2.0    2011-03-13             2009.0
6             NaN    2012-10-01                NaN
7             NaN    2012-10-09                NaN
8             NaN    2012-11-03                NaN
9             NaN    2011-08-03                NaN

In [60]:
#create season variable 
#look at monthly counts for reference
combined.date_recorded.dt.month.value_counts().sort_index()

1      6354
2     12402
3     17936
4      3970
5       336
6       346
7      6928
8      3364
9       328
10     5466
11     1349
12      621
Name: date_recorded, dtype: int64

In [61]:
combined['month_recorded'] = combined.date_recorded.dt.month

In [62]:
#Jan and Feb short dry season
#long rains lasts during about March, April and May 
#long dry season lasts throughout June, July, August, September and October 
#During November and December there's another rainy season: the 'short rains'.

In [64]:
def get_season (x):
    if x <= 2: return 1 #short dry season 
    elif x <= 5: return 2 #long rains
    elif x <= 10: return 3 #long dry season
    elif x<= 12: return 4 # short rains
    return

In [65]:
#apply function and create new column
combined['season']=combined.month_recorded.apply(get_season)

In [66]:
combined.season.value_counts()

2    22242
1    18756
3    16432
4     1970
Name: season, dtype: int64

In [ ]:
#look at missing vals
combined.isnull().sum()

In [67]:
#export cleaned df - have removed a few features and engineered a few
#will clean both test and train dfs this way
pd.DataFrame(combined).to_csv("cleaned.csv")